name: Run R Markdown on every commit

on:
  push:
  pull_request:

jobs:
  render-rmd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev

      # Restores packages from renv.lock (and caches them)
      - name: Restore renv packages
        uses: r-lib/actions/setup-renv@v2

      - name: Run notebook script
        run: |
          Rscript notebooks_code/02_vocabulary_csv_conversion.R
